@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    background-color: rgb(29, 29, 29);
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
#container{
    display: flex;
    flex-wrap: wrap;
    height: 900px;
}
#left{
    height: 900px;
    width: 900px;
    padding-top: 80px;
}
#mid{
    height: 900px;
    width: 700px;
}
#name{
    font-size: 45px;
    transform: translate(30%);
}
#cat{
    height: 45px;
    width: 615px;
    transform: translate(40%);
    padding-left: 5px;
}
#cat>input{
    height: 30px;
    background-color: rgba(255, 255, 255, 0.466);
    width: 110px;
    border-radius: 20px;
    font-size: 18px;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
}
#uploadPreview{
    background-color: rgba(255, 255, 255, 0.466);
    height: 300px;
    width: 550px;
    border-radius: 30px;
    font-size: 40px;
    text-align: center;
    
}
#uploadImage{
    color: rgb(29, 29, 29);
}
#pkt{
    position: absolute;
    width: 50px;
    height: 630px;
    transform: translate(180px);
    font-size: 50px;
    font-weight: bold;
}
#pkt>p{
    margin-top: 45px;
    margin-bottom: 65px;
    text-align: center;
}
#main{
    background-color: rgba(255, 255, 255, 0.466);
    max-height: 480px;
    max-width: 480px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    transform: translate(50%);
    padding: 15px 5px 15px 15px;
    border-radius: 25px;
}
.box{
    height: 110px;
    width: 110px;
    border-radius: 10px;
    background-color: white;
}
#free{
    background-color: rgb(135, 255, 135);
    color: white;
    font-size: 50px;
    text-align: center;
}
#free>p{
    top: 50%;
    transform: translate(0%, -50%);
    background-color: rgb(135, 255, 135);
}
#pytanie{
    transform: translate(25%,35%);
    height: 100px;
    width: 565px;
}
#pytanie>p{
    height: 50px;
    width: 250px;
    font-size: 40px;
    margin-bottom: 10px;
    border-radius: 30px;
    padding-left: 15px;
    font-weight: bolder;
    border-style: solid;
    border-color: rgb(153, 0, 255);
}
#pytanie>textarea{
    background-color: rgba(255, 255, 255, 0.466);
    height: 300px;
    width: 550px;
    border-radius: 30px;
    padding-left: 15px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}
.steale{
    float: left;
    margin-right: 20px;
    border-radius: 10px;
    width: 180px;
    padding: 5px;
    margin-bottom: 15px;
}
#red{
    border-style: solid;
    border-color: crimson;
}
#green{
    border-style: solid;
    border-color: lime;
}